@import "~swiper/scss";
@import "~@ionic/angular/css/ionic-swiper";

:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

#container {
  height: 100%;
  display: flex;
  box-sizing: border-box;

  ion-app {
    background-color: red;
    ion-content {
      height: 100%;
      justify-content: flex-end;

      &::part(background) {
        background-color: rgb(26, 80, 26);
      }

      &::part(scroll) {
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
      }
    }
  }
}
